{% extends 'base.html'%}
{% block content %}
<div class="container" style="margin-top: 5rem;">
   {{ order_obj.order_id }} -- {{order_obj.cart}}
    {% if not billing_profile %}

    <div class="row">
        <div class="col-12 col-md-6">
            <p class="lead text-center">Login</p>
            {% include 'snippets/form.html' with form=login_form  next_url=request.build_absolute_uri%}
        </div>
        <div class="col-12 col-md-6">
            Continue as Guest
            {% url 'guest_register' as guest_register_url %}
            {% include 'snippets/form.html' with form=guest_form next_url=request.build_absolute_uri action_url=guest_register_url %}
        </div>
    </div>
   

    {% else %}
    <h1>Checkout</h1>
    <p>Cart Total: {{order_obj.cart.total}}</p>
    <p>Shipping Total: {{order_obj.shipping_total}}</p>
    <p>Order Total: {{order_obj.total}}</p>

    {% endif %}
</div>
{% endblock content%}