{% extends 'base.html' %}
{% load static %}
{%block manual_css_for_page %}
    <title>Products Detail</title>
{%endblock%}
 {% block content %}
    <div class="contianer" style = "margin-top: 5rem;">
       <ul>
            <li>{{object.title}}
                <p>{{object.description}}</p>
                <p>{{object.price}}</p>
                {% if object.image%}
                <img src="{{ object.image.url }}" alt="">
                {%endif%}
            </li>
        
        </ul>
    </div>
   
{% endblock %}