<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Featured List</title>
</head>
<body>
    {%for item in object_list%}
    <ul>
        <li>
            <!-- that first href commented line's value which is an ID, will be still passed but won't be shown-->
            <!-- so we can use it to pass a value hidely -->
            <!-- <a href="{% url 'feature' item.id%}">{{item}}</a> -->
            <a href="{% url 'feature' item.slug%}">{{item}}</a>
        </li>
        
    </ul>
    

    {% endfor %}
</body>
</html>